<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.kindeditor :content, :items => ['fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'image', 'insertfile'] %>
  </div>

	<!-- theme -->
  <label for="question_themes_attributes_theme_id">Theme</label><br>
  <select multiple="multiple" name="question[question_themes_attributes][theme_id][]">
    <% Theme.all.each do |th| %>
      <option value="<%= th.id %>"<% if @question.theme_ids.include?(th.id) %>selected<% end %>><%= th.name %></option>
    <% end %>
  </select>

  <div class="field">
    <%= f.label :industry_id %><br>
    <%= f.text_field :industry_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
	<label for="question_invitations_attributes_user_id">Verified User</label><br>
	<select multiple="multiple" name="question[invitations_attributes][user_id][]">
		<% User.where(verified_flag: true).each do |vu| %>
			<option value="<%= vu.id %>"<% if @question.inv_user_ids.include?(vu.id) %>selected<% end %>><%= vu.email %></option>
		<% end %>
	</select>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
