<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.kindeditor :content, :items => ['fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'image', 'insertfile'] %>
  </div>
  <div class="field">
    <%= f.label :theme_id %><br>
    <%= f.text_field :theme_id %>
  </div>
  <div class="field">
    <%= f.label :industry_id %><br>
    <%= f.text_field :industry_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :answer_num %><br>
    <%= f.number_field :answer_num %>
  </div>
  <div class="field">
    <%= f.label :mark_flag %><br>
    <%= f.check_box :mark_flag %>
  </div>
	<label for="question_invitations_attributes_mentor_id">Mentors</label><br>
	<select multiple="multiple" name="question[invitations_attributes][mentor_id][]">
		<% User.where(mentor_flag: true).each do |mentor| %>
			<option value="<%= mentor.id %>"<% if @question.mentor_ids.include?(mentor.id) %>selected<% end %>><%= mentor.email %></option>
		<% end %>
	</select>
	<!--<%= f.fields_for :invitations do |inv_f| %>
		<div class="field">
		  <%= inv_f.label :mentor_id %><br>
			<%= inv_f.select :mentor_id, options_from_collection_for_select(User.where(mentor_flag: true), :id, :email), {:include_hidden=>false}, {:multiple => true} %>
		</div>
	<% end %>-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
