<div class="ql-header warp-content">
  <div class="ql-header-title-container">
    <div class="ql-header-title">问答推荐</div>
  </div>
  <div class="component-categories ql-content-categories">
    <div class="component-category">职场规划</div>
    <div class="component-category component-category-current">实习</div>
    <div class="component-category">毕业生求职</div>
    <div class="component-category">工作方案</div>
    <div class="component-category">创业</div>
    <div class="component-category">职场关系</div>
    <div class="component-category">升职</div>
    <div class="component-category">自我提升</div>
  </div>
</div>
<div class="ql-content warp-content">
  <div class="ql-content-left">
    <div role="infoblocks">
      <% @questions.each do |question| %>
          <div class="component-infoblock">
            <a class="component-infoblock-title" href="/questions/<%= question.id %>"><%= question.title %></a>
            <% if question.recommend_answer %>
                <div class="component-infoblock-left">
                  <div class="component-infoblock-avatar avatars-head_s_01"></div>
                  <div class="component-infoblock-good">
                    <div class="component-infoblock-good-num">10</div>
                    <div class="component-infoblock-good-action">
                      <i class="icons-good"></i>
                    </div>
                  </div>
                </div>
                <div class="component-infoblock-right">
                  <div class="component-infoblock-header">
                    <span class="component-infoblock-username">Tank</span>
                    <i class="icons-vip"></i>
                    <span class="component-infoblock-action">的答案（推荐）</span>
                    <span class="component-infoblock-time">刚刚</span>
                  </div>
                  <div class="component-infoblock-content">这一阶段是从学校走上工作岗位，是人生事业发展的起点。它主要目标，就是选择职业与坚持学习。在充分做好自我分析，选择适合自己的职业，设定人生目标，制定人生计划。再一个任务，就是要树立自己良好的形象。年轻人步入职业世界，表现如何，对未来的发展影响极大。有些年轻人，特别是刚毕业的大学生，总认为自己有知识，有…<a href="javascript:void(0);" class="showall">显示全文</a></div>
                  <div class="component-infoblock-footer">
                    <div class="component-comment">
                      <i class="icons-comment"></i>回答&nbsp;12
                    </div>
                    <div class="component-favorites">
                      <i class="icons-favorites"></i>收藏&nbsp;5
                    </div>
                    <div class="component-infoblock-subjects">
                      <div class="component-subject">职业策划</div>
                      <div class="component-subject">应届生求职</div>
                    </div>
                  </div>
                </div>
            <% else %>
                <div class="component-infoblock-left">
                  <% if question.user.avatar != nil %>
                      <img src="<%= Settings.upload_url + question.user.avatar%>" class="component-infoblock-avatar">
                  <% else %>
                      <img src="../images/noface.gif" class="component-infoblock-avatar">
                  <% end %>
                </div>
                <div class="component-infoblock-right">
                  <div class="component-infoblock-header">
                    <span class="component-infoblock-username"><%=generate_name(question.user.first_name, question.user.last_name)%></span>
                    <i class="icons-vip"></i>
                    <span class="component-infoblock-action">提出的问题</span>
                    <span class="component-infoblock-time timeago" title="<%= question.updated_at %>"><%= question.updated_at %></span>
                  </div>
                  <div class="component-infoblock-content">还没有人回答&nbsp;•&nbsp;<a href="/questions/<%= question.id %>" class="showall">我来回答</a></div>
                  <div class="component-infoblock-footer">
                    <div class="component-comment">
                      <i class="icons-comment"></i>回答&nbsp;0
                    </div>
                    <div class="component-favorites">
                      <i class="icons-favorites"></i>收藏&nbsp;<%= question.bookmarks.length %>
                    </div>
                    <div class="component-infoblock-subjects">
                      <div class="component-subject">职场发展</div>
                      <div class="component-subject">工作压力</div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<% content_for :page_javascript do %>
    <%= javascript_include_tag "questions.list" %>
<% end %>