<div class="ql-header warp-content">
  <ul class="component-tab_navs">
    <li class="component-tab_nav <%= (params[:type] == nil or params[:type] == '1') ? 'active': ''%>">
      <a href="/questions">最新</a>
    </li>
    <li class="component-tab_nav <%= params[:type] == '2' ? 'active': '' %>">
      <a href="/questions?type=2">热门</a>
    </li>
    <li class="component-tab_nav <%= params[:type] == '3' ? 'active': '' %>">
      <a href="/questions?type=3">未回答</a>
    </li>
  </ul>
</div>
<div class="ql-content warp-content">
  <div class="ql-content-left">
    <div role="infoblocks" data-list-type="<%= params[:type]||'1' %>">
      <% @questions.each do |question| %>
          <% if question.recommend_answer %>
              <%= render partial: 'partials/infoblock', :locals => { :question => question, \
                :answer => question.recommend_answer} %>
          <% else %>
              <%= render partial: 'partials/infoblock', :locals => { :question => question} %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :page_javascript do %>
    <%= javascript_include_tag "questions.list" %>
<% end %>