<div class="ql-header warp-content">
  <div class="ql-header-title-container">
    <div class="ql-header-title">问答推荐</div>
  </div>
  <div class="component-categories ql-content-categories">
    <div class="component-category">职场规划</div>
    <div class="component-category component-category-current">实习</div>
    <div class="component-category">毕业生求职</div>
    <div class="component-category">工作方案</div>
    <div class="component-category">创业</div>
    <div class="component-category">职场关系</div>
    <div class="component-category">升职</div>
    <div class="component-category">自我提升</div>
  </div>
</div>
<div class="ql-content warp-content">
  <div class="ql-content-left">
    <div role="infoblocks">
      <% @questions.each do |question| %>
          <div class="component-infoblock">
            <a class="component-infoblock-title" href="/questions/<%= question.id %>"><%= question.title %></a>
            <% if question.recommend_answer %>
                <div class="component-infoblock-left">
                  <% if question.recommend_answer.user.avatar != nil %>
                      <img src="<%= Settings.upload_url + question.recommend_answer.user.avatar%>" class="component-infoblock-avatar">
                  <% else %>
                      <img src="../images/noface.gif" class="component-infoblock-avatar">
                  <% end %>
                  <div class="component-infoblock-good">
                    <div class="component-infoblock-good-num"><%= question.recommend_answer.agreements.length %></div>
                    <div class="component-infoblock-good-action">
                      <i class="icons-good"></i>
                    </div>
                  </div>
                </div>
                <div class="component-infoblock-right">
                  <div class="component-infoblock-header">
                    <span class="component-infoblock-username"><%=generate_name(question.recommend_answer.user.first_name, \
                        question.recommend_answer.user.last_name)%></span>
                    <i class="icons-vip"></i>
                    <span class="component-infoblock-action">的答案（推荐）</span>
                    <span class="component-infoblock-time timeago" title="<%= question.recommend_answer.updated_at %>"><%= to_full_time(question.recommend_answer.updated_at) %></span>
                  </div>
                  <div class="component-infoblock-content"><%= raw question.recommend_answer.content %></div>
                  <div class="component-infoblock-footer">
                    <div class="component-infoblock-opts-comment">
                      <i class="icons-comment"></i>评论&nbsp;<%= question.recommend_answer.comments.length %>
                    </div>
                    <div class="component-infoblock-subjects">
                      <% question.question_themes.each do |question_theme| %>
                          <div class="component-subject"><%= question_theme.theme.name %></div>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% else %>
                <div class="component-infoblock-left">
                  <% if question.user.avatar != nil %>
                      <img src="<%= Settings.upload_url + question.user.avatar%>" class="component-infoblock-avatar">
                  <% else %>
                      <img src="../images/noface.gif" class="component-infoblock-avatar">
                  <% end %>
                </div>
                <div class="component-infoblock-right">
                  <div class="component-infoblock-header">
                    <span class="component-infoblock-username"><%=generate_name(question.user.first_name, question.user.last_name)%></span>
                    <i class="icons-vip"></i>
                    <span class="component-infoblock-action">提出的问题</span>
                    <span class="component-infoblock-time timeago" title="<%= question.updated_at %>"><%= to_full_time(question.updated_at) %></span>
                  </div>
                  <div class="component-infoblock-content">还没有人回答&nbsp;•&nbsp;<a href="/questions/<%= question.id %>" class="showall">我来回答</a></div>
                  <div class="component-infoblock-footer">
                    <div class="component-infoblock-opts-comment">
                      <i class="icons-comment"></i>回答&nbsp;0
                    </div>
                    <div class="component-infoblock-opts-favorites">
                      <i class="icons-favorites"></i>收藏&nbsp;<%= question.bookmarks.length %>
                    </div>
                    <div class="component-infoblock-subjects">
                      <% question.question_themes.each do |question_theme| %>
                          <div class="component-subject"><%= question_theme.theme.name %></div>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<% content_for :page_javascript do %>
    <%= javascript_include_tag "questions.list" %>
<% end %>