<div class="warp-content">
  <div class="question-warp-content">
    <div class="question-title"><%= @question.title %></div>
    <div class="question-body">
      <div role="infoblocks">
        <div class="component-infoblock">
          <div class="component-infoblock-left">
            <% if @question.user.avatar != nil %>
                <img src="<%= Settings.upload_url + @question.user.avatar%>" class="component-infoblock-avatar">
            <% else %>
                <img src="../images/noface.gif" class="component-infoblock-avatar">
            <% end %>
          </div>
          <div class="component-infoblock-right">
            <div class="component-infoblock-header">
              <span class="component-infoblock-username"><%= generate_name(@question.user.first_name, @question.user.last_name)%></span>
              <i class="icons-vip"></i>
              <span class="component-infoblock-time timeago" title="<%= @question.updated_at %>"><%= to_full_time(@question.updated_at) %></span>
            </div>
            <div class="component-infoblock-content"><%= raw @question.content %></div>
            <div class="component-infoblock-footer">
              <div class="component-infoblock-opts-comment component-infoblock-opts-comment-show">
                <i class="icons-comment"></i>评论&nbsp;<span data-num="<%= @question.comments.length %>" class="num-comment"><%= @question.comments.length %></span>
              </div>
              <div class="component-infoblock-opts-comment component-infoblock-opts-comment-hide">
                <i class="icons-comment"></i>收起评论
              </div>
              <div class="component-infoblock-opts-favorites">
                <i class="icons-favorites"></i>收藏&nbsp;<%= @question.bookmarks.length %>
              </div>
              <div class="component-infoblock-subjects">
                <% @question.question_themes.each do |question_theme| %>
                    <div class="component-subject"><%= question_theme.theme.name %></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="question-answer">
      <div class="question-answer-header">
        <i class="question-answer-ico"></i>
        <span><%= @question.answers.length %>个回答</span>
      </div>
      <div role="infoblocks">
        <% @question.answers.each do |answer| %>
            <% @editable = current_user != nil && answer.user.id == current_user.id %>
            <div class="component-infoblock" data-id="<%= answer.id %>">
                <div class="component-infoblock-left">
                  <% if answer.user.avatar != nil %>
                    <img src="<%= Settings.upload_url + answer.user.avatar%>" class="component-infoblock-avatar">
                  <% else %>
                    <img src="../images/noface.gif" class="component-infoblock-avatar">
                  <% end %>
                    <div class="component-infoblock-good">
                        <div class="component-infoblock-good-num" data-num="<%= answer.agreements.length %>"><%= answer.agreements.length %></div>
                        <div class="component-infoblock-good-action">
                            <i class="icons-good"></i>
                        </div>
                    </div>
                </div>
                <div class="component-infoblock-right">
                    <div class="component-infoblock-header">
                        <span class="component-infoblock-username"><%=generate_name(answer.user.first_name, answer.user.last_name)%></span>
                        <i class="icons-vip"></i>
                        <span class="component-infoblock-time timeago" title="<%= answer.updated_at %>"><%= to_full_time(answer.updated_at) %></span>
                    </div>
                    <div class="component-infoblock-content">
                      <textarea class="component-infoblock-raw-content" style="display: none"><%= raw answer.content %></textarea>
                      <%= raw answer.content %>
                      <% if @editable %>
                          <a href="javascript:void(0);" class="edit-button" name="edit">
                            <i class="edit-button-icon"></i>
                            <span>修改</span>
                          </a>
                      <% end %>
                    </div>
                    <% if @editable %>
                      <div class="component-infoblock-editor-wrapper">
                        <form action="/answers/<%= answer.id %>" method="post" target="_self">
                          <input type="text" name="answer[content]" />
                          <input type="text" name="_method" value="put"/>
                        </form>
                        <div class="component-infoblock-editor">
                        </div>
                      </div>
                    <% end %>
                    <div class="component-infoblock-footer">
                        <div class="component-infoblock-opts-comment component-infoblock-opts-comment-show">
                            <i class="icons-comment"></i>评论&nbsp;<span data-num="<%= answer.comments.length %>" class="num-comment"><%= answer.comments.length %></span>
                        </div>
                        <div class="component-infoblock-opts-comment component-infoblock-opts-comment-hide">
                            <i class="icons-comment"></i>收起评论
                        </div>
                        <div class="component-infoblock-subjects">
                            <div class="component-subject">职业策划</div>
                            <div class="component-subject">应届生求职</div>
                        </div>
                        <div class="component-infoblock-comment-wrapper">
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        <% end %>
      </div>
    </div>
    <% if can? :answer, @question %>
        <div class="question-answer-editor">
          <div class="question-answer-editor-header">撰写答案</div>
          <form id="answerForm" action="/questions/<%= @question.id %>/answers" method="post" target="_self">
            <textarea id="inputContent" name="answer[content]" style="display: none"></textarea>
            <script type="text/plain" id="answerContent">
                <p class='init-content'>请输入你的回答...</p>
            </script>
          </form>
        </div>
    <% end %>
  </div>
</div>
<% content_for :page_javascript do %>
    <%= javascript_include_tag "questions.show" %>
<% end %>