<div class="warp-content">
  <div class="question-warp-content">
    <div class="question-title">
      <span><%= @question.title %></span>
      <% if can? :edit, @question %>
        <a class="question-edit" href="javascript:void(0);" data-id="<%= @question.token_id %>">编辑问题</a>
      <% end %>
    </div>
    <div class="question-body">
      <div role="infoblocks">
        <%= render partial: 'partials/infoblock', :locals => { :question => @question, \
            :is_show_title => false, :is_plane_question => false, :is_show_question_content => true} %>
      </div>
    </div>
    <div class="question-answer">
      <div class="question-answer-header">
        <i class="question-answer-ico"></i>
        <span><%= @question.answers.length %>个回答</span>
      </div>
      <div role="infoblocks">
        <% @question.sorted_answers.each do |answer| %>
            <%= render partial: 'partials/infoblock', :locals => { :question => @question, :answer => answer, \
                :is_editable => current_user != nil && answer.user.id == current_user.id, \
                :is_show_title => false, :is_plane_answer => false, :is_show_themes => false} %>
        <% end %>
      </div>
    </div>
    <% if can? :answer, @question %>
        <div class="question-answer-editor">
          <div class="question-answer-editor-header">撰写答案</div>
          <form id="answerForm" action="/questions/<%= @question.token_id %>/answers" method="post" target="_self" data-qid="<%= @question.token_id %>">
            <textarea id="inputContent" name="answer[content]" style="display: none"></textarea>
            <script type="text/plain" id="answerContent">
                <p class='init-content'>请输入你的回答...</p>
            </script>
          </form>
        </div>
    <% end %>
  </div>
</div>

<% content_for :page_javascript do %>
    <%= javascript_include_tag "questions.show" %>
<% end %>