<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw @question.content %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @question.theme %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @question.industry %>
</p>

<p>
  <strong>Category:</strong>
  <%= @question.category %>
</p>

<p>
  <strong>Answer num:</strong>
  <%= @question.answers_num %>
</p>

<p>
  <strong>Mark flag:</strong>
  <%= @question.mark_flag %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.id %>
</p>

<%= link_to 'Edit', edit_question_path(@question), 'data-no-turbolink' => true %> |
<%= link_to 'Back', questions_path %>

<h2>Answers</h2>
<%= render @question.answers.order("id") %>

<h2>Add an answer:</h2>
<%= form_for([@question, @question.answers.build]) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
