<%= form_for(@consult_subject) do |f| %>
  <% if @consult_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consult_subject.errors.count, "error") %> prohibited this consult_subject from being saved:</h2>

      <ul>
      <% @consult_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.kindeditor :content, :items => ['fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'image', 'insertfile'] %>
  </div>

  <!-- theme -->

	<%= f.fields_for :user do |mf| %>
		<div class="field">
		  <%= mf.label :last_name, @mentor.last_name %>&nbsp;<%= mf.label :first_name, @mentor.first_name %><br>
			<%= mf.hidden_field :id, :value=>@mentor.id %>
		</div>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
