<%= form_for(@consult_subject) do |f| %>
  <% if @consult_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consult_subject.errors.count, "error") %> prohibited this consult_subject from being saved:</h2>

      <ul>
      <% @consult_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :theme_id %><br>
    <%= f.text_field :theme_id %>
  </div>
  <div class="field">
    <%= f.label :mentor_id %><br>
    <%= f.text_field :mentor_id %>
  </div>
  <div class="field">
    <%= f.label :apprentice_id %><br>
    <%= f.text_field :apprentice_id %>
  </div>
  <div class="field">
    <%= f.label :mentor_stat_flag %><br>
    <%= f.number_field :mentor_stat_flag %>
  </div>
  <div class="field">
    <%= f.label :user_stat_flag %><br>
    <%= f.number_field :user_stat_flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
