<h1>Listing consult_subjects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Theme</th>
      <th>Mentor</th>
      <th>Apprentice</th>
      <th>Mentor stat flag</th>
      <th>User stat flag</th>
			<th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @consult_subjects.each do |consult_subject| %>
      <tr>
        <td><%= consult_subject.title %></td>
        <td><%= consult_subject.content %></td>
        <td><%= consult_subject.theme %></td>
        <td><%= consult_subject.mentor.email %></td>
        <td><%= consult_subject.apprentice.email %></td>
        <td><%= consult_subject.mentor_stat_flag %></td>
        <td><%= consult_subject.user_stat_flag %></td>
        <td><%= link_to 'Show', consult_subject, 'data-no-turbolink' => true %></td>
        <td><%= link_to 'Edit', edit_consult_subject_path(consult_subject), 'data-no-turbolink' => true %></td>
        <td><%= link_to 'Destroy', consult_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% if consult_subject.mentor_stat_flag == 1 %>      
					<td><%= link_to 'Accept', accept_consult_subject_path(consult_subject), method: :post %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consult subject', new_consult_subject_path, 'data-no-turbolink' => true %>
