<h1>Listing consult_subjects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Theme</th>
      <th>Mentor</th>
      <th>Apprentice</th>
      <th>Stat Class</th>
			<th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @consult_subjects.each do |consult_subject| %>
      <tr>
        <td><%= consult_subject.title %></td>
        <td><%= consult_subject.content %></td>
        <td><%= consult_subject.theme %></td>
        <td><%= consult_subject.mentor.email %></td>
        <td><%= consult_subject.apprentice.last_name %>&nbsp;<%= consult_subject.apprentice.first_name %></td>
        <td><%= consult_subject.stat_class %></td>
				<% if can? :show, consult_subject %>
        	<td><%= link_to 'Show', consult_subject, 'data-no-turbolink' => true %></td>
				<% end %>
        <!--<td><%= link_to 'Edit', edit_consult_subject_path(consult_subject), 'data-no-turbolink' => true %></td>-->
				<% if can? :accept, consult_subject %>      
					<td><%= link_to 'Accept', accept_consult_subject_path(consult_subject), method: :post %></td>
				<% end %>
				<% if can? :ignore, consult_subject %>      
					<td><%= link_to 'Ignore', ignore_consult_subject_path(consult_subject), method: :post %></td>
				<% end %>
				<% if can? :close, consult_subject %>
					<td><%= link_to 'Close', close_consult_subject_path(consult_subject), method: :post %></td>
				<% end %>				
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Consult subject', new_consult_subject_path, 'data-no-turbolink' => true %>-->
