<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @consult_subject.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @consult_subject.content %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @consult_subject.theme %>
</p>

<p>
  <strong>Mentor:</strong>
  <%= @consult_subject.mentor %>
</p>

<p>
  <strong>Apprentice:</strong>
  <%= @consult_subject.apprentice %>
</p>

<p>
  <strong>Mentor stat flag:</strong>
  <%= @consult_subject.mentor_stat_flag %>
</p>

<p>
  <strong>User stat flag:</strong>
  <%= @consult_subject.user_stat_flag %>
</p>

<%= link_to 'Edit', edit_consult_subject_path(@consult_subject) %> |
<%= link_to 'Back', consult_subjects_path %>

<h2>Replies</h2>
<%= render @consult_subject.consult_replies.order("id") %>

<h2>Add an reply:</h2>
<%= form_for([@consult_subject, @consult_subject.consult_replies.build]) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
