<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @consult_subject.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @consult_subject.content %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @consult_subject.theme %>
</p>

<p>
  <strong>Mentor:</strong>
  <%= @consult_subject.mentor.email %>
</p>

<p>
  <strong>Apprentice:</strong>
  <%= @consult_subject.apprentice.last_name %>&nbsp;<%= @consult_subject.apprentice.first_name %>
</p>

<p>
  <strong>Stat class:</strong>
  <%= @consult_subject.stat_class %>
</p>

<% if can? :edit, @consult_subject %>
	<%= link_to 'Edit', edit_consult_subject_path(@consult_subject), 'data-no-turbolink' => true %> |
<% end %>
<% if can? :accept, @consult_subject %>      
	<%= link_to 'Accept', accept_consult_subject_path(@consult_subject), method: :post %> |
<% end %>
<% if can? :ignore, @consult_subject %>      
	<%= link_to 'Ignore', ignore_consult_subject_path(@consult_subject), method: :post %> |
<% end %>
<% if can? :close, @consult_subject %>
	<%= link_to 'Close', close_consult_subject_path(@consult_subject), method: :post %> |
<% end %>
<%= link_to 'Back', consult_subjects_path %>

<h2>Replies</h2>
<%= render @consult_subject.consult_replies.order("id") %>

<% if can? :reply, @consult_subject %>
	<h2>Add an reply:</h2>
	<%= form_for([@consult_subject, @consult_subject.consult_replies.build]) do |f| %>
		<p>
		  <%= f.label :content %><br>
		  <%= f.kindeditor :content, :items => ['fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'image', 'insertfile'] %>
		</p>
		<p>
		  <%= f.submit %>
		</p>
	<% end %>
<% end %>
