<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Agree score</th>

      <th>Industry</th>
      <th>Category</th>
      <th>User</th>
      <th>Draft flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
			<% if article.draft_flag == false %>		
		    <tr>
		      <td><%= article.title %></td>
		      <td><%= article.content %></td>
		      <td><%= article.agree_score %></td>

		      <td><%= article.industry %></td>
		      <td><%= article.category %></td>
		      <td><%= article.user.last_name %>&nbsp;<%= article.user.first_name %></td>
		      <td><%= article.draft_flag %></td>
		      <td><%= link_to 'Show', article %></td>
					<% if can? :bookmark, article %>
						<td><%= link_to 'Bookmark', bookmarks_path(:type=>"Article", :id=>article.id), method: :post %></td>
					<% elsif can? :unbookmark, article %>
						<td><%= link_to 'Unbookmark', bookmark_path(:type=>"Article", :id=>article.id), method: :delete %></td>
					<% end %>
		      <!--<td><%= link_to 'Edit', edit_article_path(article) %></td>-->
		    </tr>
		  <% end %>		
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Article %>
	<%= link_to 'New Article', new_article_path %>
<% end %>
