<%= form_for(@consultant_reply) do |f| %>
  <% if @consultant_reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consultant_reply.errors.count, "error") %> prohibited this consultant_reply from being saved:</h2>

      <ul>
      <% @consultant_reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consultant_subject_id %><br>
    <%= f.text_field :consultant_subject_id %>
  </div>
  <div class="field">
    <%= f.label :reply_seq %><br>
    <%= f.number_field :reply_seq %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
