<p id="notice"><%= notice %></p>

<p>
  <strong>Consultant subject:</strong>
  <%= @consultant_reply.consultant_subject %>
</p>

<p>
  <strong>Reply seq:</strong>
  <%= @consultant_reply.reply_seq %>
</p>

<p>
  <strong>Content:</strong>
  <%= @consultant_reply.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @consultant_reply.user %>
</p>

<%= link_to 'Edit', edit_consultant_reply_path(@consultant_reply) %> |
<%= link_to 'Back', consultant_replies_path %>
