<h1>Listing post_comments</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Agree score</th>
      <th>Oppose score</th>
      <th>Anonymous flag</th>
      <th>Post</th>
      <th>User</th>
      <th>Replied comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_comments.each do |post_comment| %>
      <tr>
        <td><%= post_comment.content %></td>
        <td><%= post_comment.agree_score %></td>
        <td><%= post_comment.oppose_score %></td>
        <td><%= post_comment.anonymous_flag %></td>
        <td><%= post_comment.post %></td>
        <td><%= post_comment.user %></td>
        <td><%= post_comment.replied_comment %></td>
        <td><%= link_to 'Show', post_comment %></td>
        <td><%= link_to 'Edit', edit_post_comment_path(post_comment) %></td>
        <td><%= link_to 'Destroy', post_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post comment', new_post_comment_path %>
