<% if false %>
    问答信息块模板
    question: object needed Question model
    answer: object Answer model       　显示主体是答案时，需要传入
    is_show_title: boolean         　　是否显示标题
    is_editable: boolean         　　　是否可以编辑答案
<% end %>

<% answer = nil if local_assigns[:answer].nil? %>
<% is_show_title = true if local_assigns[:is_show_title].nil? %>
<% is_show_themes = true if local_assigns[:is_show_themes].nil? %>

<% is_recommend_answer = false if local_assigns[:recommend_answer].nil? %>
<% is_plane_answer = true if local_assigns[:is_plane_answer].nil? %>
<% is_editable = false if local_assigns[:is_editable].nil? %>

<% is_plane_question = true if local_assigns[:is_plane_question].nil? %>
<% is_show_question_content = false if local_assigns[:is_show_question_content].nil? %>

<% is_bookmarkable = (current_user == nil or !Bookmark.has?(current_user.id, 'Question', question.id))%>
<% is_need_truncate = (answer != nil and strip_tags(answer.content).length > 115) %>

<% if answer %>
    <div class="component-infoblock" data-type="Answer" data-id="<%= answer.id %>" data-qid="<%= question.token_id %>">
      <div class="component-infoblock-left">
        <% if answer.user.avatar != nil %>
            <img data-role="user" data-id="<%= answer.user.token_id %>" data-url-id="<%= answer.user.url_id %>" src="<%= Settings.upload_url + answer.user.avatar %>" class="component-infoblock-avatar">
        <% else %>
            <img data-role="user" data-id="<%= answer.user.token_id %>" data-url-id="<%= answer.user.url_id %>" src="/images/noface.gif" class="component-infoblock-avatar">
        <% end %>
        <div class="component-infoblock-good">
          <div class="component-infoblock-good-num" data-num="<%= answer.agreements.length %>"><%= answer.agreements.length %></div>
          <div class="component-infoblock-good-action">
            <i class="icons-good"></i>
          </div>
        </div>
      </div>
      <div class="component-infoblock-right">
        <div class="component-infoblock-header">
          <span class="component-infoblock-username" data-role="user" data-url-id="<%= answer.user.url_id %>" data-id="<%= answer.user.token_id %>"><%= generate_name(answer.user.first_name, answer.user.last_name) %></span>
          <% if answer.user.verified_flag %>
            <i class="icons-vip"></i>
          <% end %>
          <% if is_recommend_answer %>
              <span class="component-infoblock-action">的答案（推荐）</span>
          <% elsif is_plane_answer%>
              <span class="component-infoblock-action">的答案</span>
          <% end %>
          <span class="component-infoblock-time">
            <% if answer.created_at != answer.edited_at %>
            <span>编辑于</span>
            <% end %>
            <span class="timeago" title="<%= answer.updated_at %>"><%= to_full_time(answer.updated_at) %></span>
          </span>
        </div>
        <% if is_show_title %>
            <a class="component-infoblock-title" href="/questions/<%= question.token_id %>"><%= question.title %></a>
        <% end %>
        <div class="component-infoblock-content">
          <textarea class="component-infoblock-raw-content" style="display: none"><%= raw answer.content %></textarea>
          <% if is_need_truncate %>
              <div class="component-infoblock-truncate-content">
                  <%= raw strip_tags(answer.content).truncate(170) %>
                  <a href="javascript:void(0);" class="show-all-button">
                    <span>显示全部</span>
                  </a>
              </div>
              <div class="component-infoblock-all-content" style="display: none">
                  <%= raw answer.content %>
                  <a href="javascript:void(0);" class="hide-all-button">
                    <span>收起全部</span>
                  </a>
              </div>
          <% else %>
              <%= raw answer.content %>
          <% end %>
          <% if is_editable %>
              <a href="javascript:void(0);" class="edit-button" name="edit">
                <i class="edit-button-icon"></i>
                <span>修改</span>
              </a>
          <% end %>
        </div>
        <% if is_editable %>
            <div class="component-infoblock-editor-wrapper">
              <form action="/answers/<%= answer.id %>" method="post" target="_self">
                <input type="text" name="answer[content]" />
                <input type="text" name="_method" value="put"/>
              </form>
              <div class="component-infoblock-editor">
              </div>
            </div>
        <% end %>
        <div class="component-infoblock-footer">
          <div class="component-infoblock-opts-comment component-infoblock-opts-comment-show">
            <i class="icons-comment"></i>评论&nbsp;<span data-num="<%= answer.comments.length %>" class="comments-num"><%= answer.comments.length %></span>
          </div>
          <div class="component-infoblock-opts-comment component-infoblock-opts-comment-hide">
            <i class="icons-comment"></i>收起评论
          </div>
          <% if is_show_themes %>
              <div class="component-infoblock-subjects">
                <% question.question_themes.each do |question_theme| %>
                    <div class="component-subject"><%= question_theme.theme.name %></div>
                <% end %>
              </div>
          <% end %>
          <div class="component-infoblock-comment-wrapper"></div>
        </div>
      </div>
    </div>
<% else %>
    <div class="component-infoblock" data-type="Question" data-id="<%= question.token_id %>" data-qid="<%= question.token_id %>">
      <% if is_show_title %>
          <a class="component-infoblock-title" href="/questions/<%= question.token_id %>"><%= question.title %></a>
      <% end %>

      <div class="component-infoblock-left">
        <% if question.user.avatar != nil %>
            <img data-role="user" data-url-id="<%= question.user.url_id %>" data-id="<%= question.user.token_id %>" src="<%= Settings.upload_url + question.user.avatar %>" class="component-infoblock-avatar">
        <% else %>
            <img data-role="user" data-url-id="<%= question.user.url_id %>" data-id="<%= question.user.token_id %>" src="/images/noface.gif" class="component-infoblock-avatar">
        <% end %>
      </div>
      <div class="component-infoblock-right">
        <div class="component-infoblock-header">
          <span class="component-infoblock-username" data-role="user" data-url-id="<%= question.user.url_id %>" data-id="<%= question.user.token_id %>"><%= generate_name(question.user.first_name, question.user.last_name) %></span>
          <% if question.user.verified_flag %>
              <i class="icons-vip"></i>
          <% end %>
          <% if is_plane_question %>
            <span class="component-infoblock-action">提出的问题</span>
          <% end %>
          <span class="component-infoblock-time">
            <% if question.created_at != question.edited_at %>
            <span>编辑于</span>
            <% end %>
            <span class="timeago" title="<%= question.updated_at %>"><%= to_full_time(question.updated_at) %></span>
          </span>
        </div>
        <% if is_show_question_content %>
            <div class="component-infoblock-content"><%= raw @question.content %></div>
        <% else %>
            <div class="component-infoblock-content">还没有人回答&nbsp;•&nbsp;<a href="/questions/<%= question.token_id %>" class="showall">我来回答</a></div>
        <% end %>
        <div class="component-infoblock-footer">
          <div class="component-infoblock-opts-comment component-infoblock-opts-comment-show">
            <i class="icons-comment"></i>评论&nbsp;<span data-num="<%= question.comments.length %>" class="comments-num"><%= question.comments.length %></span>
          </div>
          <div class="component-infoblock-opts-comment component-infoblock-opts-comment-hide">
            <i class="icons-comment"></i>收起评论
          </div>
          <div class="component-infoblock-opts-favorites component-infoblock-opts-favorites-ok" style="display:<%= is_bookmarkable ? 'inline': 'none'%>">
            <i class="icons-favorites"></i>收藏&nbsp;<span data-num="<%= question.bookmarks.length %>" class="bookmarks-num"><%= question.bookmarks.length %></span>
          </div>
          <div class="component-infoblock-opts-favorites component-infoblock-opts-favorites-cancel" style="display:<%= is_bookmarkable ? 'none': 'inline'%>">
            <i class="icons-favorites"></i>取消收藏&nbsp;<span data-num="<%= question.bookmarks.length %>" class="bookmarks-num"><%= question.bookmarks.length %></span>
          </div>
          <% if is_show_themes %>
              <div class="component-infoblock-subjects">
                <% question.question_themes.each do |question_theme| %>
                    <div class="component-subject"><%= question_theme.theme.name %></div>
                <% end %>
              </div>
          <% end %>
          <div class="component-infoblock-comment-wrapper"></div>
        </div>
      </div>
    </div>
<% end %>