<div role="navigation">
  <div class="warp-content">
    <a class="top-link-logo"></a>
    <div class="top-nav">
      <div class="top-nav-ul">
        <div class="top-nav-li <%=params[:controller] == 'home' ? 'current': ''%>"><a href="/" class="top-nav-link">首页</a></div>
        <div class="top-nav-li <%=params[:controller] == 'questions' || params[:controller] == 'answers'\
                                  ? 'current': ''%>"><a href="/questions" class="top-nav-link">问答</a></div>
      </div>
    </div>
    <div class="top-nav-searchbar">
      <form method="GET" action="/search" class="top-nav-search-form">
        <input type="text" class="top-nav-search-input" id="q" name="q"
               autocomplete="off" value="" placeholder="搜索问题或职人..." aria-haspopup="true">
        <input type="hidden" name="type" value="question">
        <button type="submit" class="top-nav-search-submit">
          <i class="icons-search_s"></i></button>
      </form>
      <button class="top-nav-add-question">提问</button>
    </div>
    <% if current_user != nil %>
        <ul class="top-nav-auth">
          <li>
            <a class="user-link">
                <% if current_user.avatar != nil %>
                  <img src="<%= Settings.upload_url + current_user.avatar%>" class="user-logo">
                <% else %>
                  <img src="../images/noface.gif" class="user-logo">
                <% end %>
                <span><%=generate_name(current_user.first_name, current_user.last_name)%></span>
            </a>
            <ul class="top-nav-dropdown" id="top-nav-profile-dropdown" aria-labelledby=":0" aria-hidden="true">
              <li>
                <a href="/users/<%=current_user.token_id%>" tabindex="-1">
                  <i class="top-nav-icon-home"></i>我的主页</a>
              </li>
              <li>
                <a href="/settings" tabindex="-1">
                  <i class="top-nav-icon-settings"></i>设置</a>
              </li>
              <li>
                <a href="javascript:void(0);" class="logout" tabindex="-1">
                  <i class="top-nav-icon-logout"></i>退出</a>
              </li>
            </ul>
          </li>
          <li><a class="message-link tooltipster" title="消息"><i class="icons-message"></i></a></li>
          <li><a class="private-message-link tooltipster" title="私信"><i class="icons-private_message"></i></a></li>
        </ul>
    <% else %>
        <ul class="top-nav-noauth">
          <li><a id="btn-sign-up" class="sign-up"><i class="icons-user_sign_up"></i>注册职人圈</a></li>
          <li><a id="btn-sign-in" class="sign-in">登录</a></li>
        </ul>
    <% end %>
  </div>
</div>