<%
   is_self = false
   if current_user
     is_self = (@user.id == current_user.id)
   end

   industry = nil
   if @user.industry_id
     industry = @user.industry
   end

   company = nil
   if @user.latest_company_id
     company = @user.latest_company
   end

   position = @user.latest_position

   school = nil
   if @user.latest_school_id
     school = @user.latest_school
   end

   major = @user.latest_major

   questions = Question.where(:user_id => @user.id)
   answers = Answer.where(:user_id => @user.id)

   is_show_business = (!!(company or position) or !(company or position or school or major))

   industry_name = industry ? industry.name : '行业未填写'
   company_name = company ? company.name : '公司未填写'
   school_name = school ? school.name : '学校未填写'
   major_name = major ? major : '专业未填写'
   position_name = position ? position : '职位未填写'
%>

<div class="profile-card">
  <div class="upper">
    <% if @user.avatar != nil %>
        <img src="<%= Settings.upload_url + @user.avatar%>" class="user-logo">
    <% else %>
        <img class="user-logo" src="/images/noface.gif">
    <% end %>
    <div class="user-desc-container">
      <div class="user-name"><span><%= generate_name(@user.first_name, @user.last_name) %></span>
        <% if @user.verified_flag %>
            <i class="icons-vip"></i>
        <% end %>
      </div>
      <% if is_show_business %>
        <div class="user-company"><%= company_name%></div>
        <div class="user-position"><%= position_name%></div>
      <% else %>
          <div class="user-company"><%= school_name%></div>
          <div class="user-position"><%= major_name%></div>
      <% end %>
    </div>
  </div>
  <div class="lower">
    <div class="lower-left">
      <!--<div class="lower-accp">接受咨询&nbsp;<em>50</em></div>-->
      <div class="lower-corn">提问&nbsp;<em><%= questions.length %></em>&nbsp;&nbsp;</div>
      <div class="lower-split"></div>
      <div class="lower-corn">回答&nbsp;<em><%= answers.length %></em>&nbsp;&nbsp;</div>
      <div class="lower-split"></div>
      <div class="lower-corn">关注者&nbsp;<em data-type="followers_num" data-num="<%= @user.followers_num %>"><%= @user.followers_num %></em></div>
    </div>
    <div class="lower-right">
      <% if current_user and !is_self %>
          <!--<div class="btn-ask">咨询</div>-->
          <div class="btn-corn" data-target-id="<%= @user.token_id %>" data-action="follow"
               style="<%= (current_user.following_u? @user) ? 'display:none': ''%>"><i class="icons-add"></i>关注</div>
          <div class="btn-corn" data-target-id="<%= @user.token_id %>" data-action="un-follow"
               style="<%= (current_user.following_u? @user) ? '': 'display:none'%>"><i class="icons-add"></i>取消关注</div>
      <% end %>
    </div>
  </div>
</div>