<h1>Listing users</h1>

<table>
  <thead>
    <tr>
			<th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>      
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
				<td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <!--<td><%= link_to 'Edit', edit_user_path(user) %></td>-->
				<% if can? :consult, user %>
					<td><%= link_to 'Consult', new_consult_subject_path(:first_name=>user.first_name, :last_name=>user.last_name, :id=>user.id), 'data-no-turbolink' => true %></td>
				<% end %>
				<% if can? :unfollow, user %>
					<td><%= link_to 'Unfollow', relationship_path(:id=>user.id), method: :delete %></td>
				<% elsif can? :follow, user %>
					<td><%= link_to 'Follow', relationships_path(:id=>user.id), method: :post %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>


