<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td>following</td>
		<td><%= @user.following_num %></td>
	</tr>
	<tr>
		<td>followers</td>
		<td><%= @user.followers_num %></td>
	</tr>
</table
<p>
  <%= image_tag(@user.avatar_url) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.last_name %> <%= @user.first_name %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>
<!--<p>
  <strong>Province:</strong>
  <%= @user.province_id %>
</p>
<p>
  <strong>City:</strong>
  <%= @user.city_id %>
</p>-->
<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>
<p>
  <strong>Major:</strong>
  <%= @user.major %>
</p>
<p>
  <strong>Industry:</strong>
  <%= @user.industry %>
</p>
<p>
  <strong>Company:</strong>
  <%= @user.company %>
</p>
<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<% if can? :unfollow, @user %>
	<%= link_to 'Unfollow', relationship_path(:id=>@user.id), method: :delete %> |
<% elsif can? :follow, @user %>
	<%= link_to 'Follow', relationships_path(:id=>@user.id), method: :post %> |
<% end %>
<% if can? :edit, @user %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>

<table>
	<!-- Q&A -->
	<tr>
		<% if @user.mentor? %>
		<td><% @user.invited_questions %></td>
		<% else %>
		<td><% @user.questions %></td>
		<% end %>
	</tr>
	<!-- consult subjects -->
	<tr>
		<% if @user.mentor? %>
		<td><% @user.m_subjects %></td>
		<% else %>
		<td><% @user.u_subjects %></td>
		<% end %>
	</tr>
</table>
