<%
   is_self = false
   if current_user
     is_self = (@user.id == current_user.id)
   end

   industry = nil
   if @user.industry_id
     industry = @user.industry
   end

   company = nil
   if @user.latest_company_id
     company = @user.latest_company
   end

   region = location = nil
   if @user.location_id
     location = @user.location
     region = location.region
   end

   school = nil
   if @user.latest_school_id
     school = @user.latest_school
   end

   questions = Question.where(:user_id => @user.id)
   answers = Answer.where(:user_id => @user.id)

   if is_self
     bookmarks = @user.bookmarks
     bookmark_questions = []
     bookmarks.each do |bookmark|
       if bookmark.bookmarkable_type == 'Question'
         bookmark_questions.push bookmark.bookmarkable
       end
     end
   end
   
   industry_name = industry ? industry.name : '行业'
   company_name = company ? company.name : '公司'
   school_name = school ? school.name : '学校'
   major_name = @user.latest_major ? @user.latest_major : '专业'
   position_name = @user.latest_position ? @user.latest_position : '职位'
   region_name = region ? region.name : '区域'
   location_name = location ? location.name : '城市'
   description_str = @user.description ? @user.description : '未填写个人描述'
%>

<div class="user-top warp-content">
  <div class="user-wrap-content">
      <div class="user-profile">
        <div class="user-profile-top"></div>
        <div class="user-profile-container">
          <div class="user-profile-left">
            <div class="user-profile-logo-container">
              <% if @user.avatar != nil %>
                  <img src="<%= Settings.upload_url + @user.avatar%>" class="user-profile-logo">
              <% else %>
                <img class="user-profile-logo" src="/images/noface.gif">
              <% end %>

              <% if current_user and is_self %>
                  <form id='av_up_form' target="av_up_frame" method="post" enctype="multipart/form-data"
                        action="/upload/upload_avatar">
                    <input type="file" accept="image/*" name="picture" style="display: none">
                    <input type="hidden" name="handle_mode" value="cache">
                    <!--<input type="hidden" name="handle_mode" value="resize">-->
                    <input type="hidden" name="dest_id" value="">
                  </form>
                  <span class="user-profile-logo-edit-button">修改头像</span>
              <% end %>
            </div>
            <div class="user-profile-data">
              <div class="desc">关注&nbsp;<%= @user.following_num %>&nbsp;</div>
              <div class="spilt"></div>
              <div class="desc">&nbsp;粉丝&nbsp;<%= @user.followers_num %></div>
            </div>
          </div>
          <div class="user-profile-right">
            <div class="user-profile-header">
              <div class="user-profile-name"><%=generate_name(@user.first_name, @user.last_name)%></div>
              <% if @user.verified_flag %>
                <div class="user-profile-vip"></div>
              <% end %>
              <% if current_user and current_user.gender == 0 %>
                  <i class="icon icon-profile-female"></i>
              <% else %>
                  <i class="icon icon-profile-male"></i>
              <% end %>
              <% if current_user %>
                  <% if is_self %>
                      <div class="user-profile-opt">
                        <div class="user-profile-opt-cont">
                          <a href="/settings/profile"><i class="icon-profile-edit"></i>编辑资料</a>
                        </div>
                      </div>
                  <% else %>
                      <div class="user-profile-opt">
                        <div class="user-profile-opt-cont">
                          <i class="user-profile-star"></i>&nbsp;关注</div>
                        <div class="spilt"></div>
                        <div class="user-profile-opt-cont">
                          <i class="user-profile-private_message"></i>&nbsp;私信</div>
                      </div>
                  <% end %>
              <% end %>
            </div>
            <div class="user-profile-content">
              <div class="user-content-row">
                <i class="icon-profile-profession"></i>
                <div class="desc"><%= industry_name %></div>
                <div class="spilt"></div>
                <div class="desc"><%= company_name %></div>
                <div class="spilt"></div>
                <div class="desc"><%= position_name %></div>
              </div>
              <div class="user-content-row">
                <i class="icon-profile-location"></i>
                <div class="desc"><%= region_name %>&nbsp;<%= location_name %></div>
              </div>
              <div class="user-content-row">
                <i class="icon-profile-education"></i>
                <div class="desc"><%= school_name %>&nbsp;<%= major_name %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="user-detail">
        <div class="user-detail-left">个人说明&nbsp;:&nbsp;</div>
        <div class="user-detail-right"><%= raw description_str %></div>
      </div>
  </div>
</div>
<div class="user-content warp-content">
  <div class="user-wrap-content">
      <div class="component-categories user-content-categories">
        <a href="/users/<%= params[:id] %>/questions" class="component-category <%=params[:action] == 'questions' ? 'component-category-current': ''%>">提问(<%= questions.length %>)</a>
        <a href="/users/<%= params[:id] %>/answers" class="component-category <%=params[:action] == 'answers' ? 'component-category-current': ''%>">回答(<%= answers.length %>)</a>
        <% if is_self %>
            <a href="/users/<%= params[:id] %>/bookmarks" class="component-category <%=params[:action] == 'bookmarks' ? 'component-category-current': ''%>">收藏(<%= bookmarks.length %>)</a>
            <div class="component-category">草稿(0)</div>
        <% end %>
      </div>
  </div>
  <div class="user-content-header"></div>
  <div class="user-main-content">
    <div class="user-content-left">
      <div role="infoblocks" class="user-content-infoblock">
        <% if params[:action] == 'questions' %>
            <% questions.each do |question| %>
                <% if question.recommend_answer %>
                    <%= render partial: 'partials/infoblock', :locals => { :question => question, :answer => question.recommend_answer} %>
                <% else %>
                    <%= render partial: 'partials/infoblock', :locals => { :question => question} %>
                <% end %>
            <% end %>
        <% elsif params[:action] == 'answers' %>
            <% answers.each do |answer| %>
                <%= render partial: 'partials/infoblock', :locals => { :question => answer.question, :answer => answer} %>
            <% end %>
        <% elsif is_self and params[:action] == 'bookmarks' %>
            <% bookmark_questions.each do |question| %>
                <% if question.recommend_answer %>
                    <%= render partial: 'partials/infoblock', :locals => { :question => question, :answer => question.recommend_answer} %>
                <% else %>
                    <%= render partial: 'partials/infoblock', :locals => { :question => question} %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="user-content-right">
    </div>
  </div>
</div>
<!--隐藏的iframe，用于处理头像上传的请求-->
<iframe id="av_up_frame" name="av_up_frame" style="position: absolute; height: 0; width: 0; left: -9000px;"></iframe>

<%= render "modals/modal_resize_avatar" %>

<% content_for :page_javascript do %>
    <%= javascript_include_tag "jquery.jcrop" %>
    <%= javascript_include_tag "users.show" %>
<% end %>