<h1>Listing verified users</h1>

<table>
  <thead>
    <tr>
			<th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @verified_users.each do |vu| %>
      <tr>
				<td><%= vu.last_name %></td>
        <td><%= vu.first_name %></td>
        <td><%= vu.email %></td>
        <td><%= link_to 'Show', vu %></td>
				<% if can? :pm, vu %>
					<td><%= link_to 'PM', private_messages_path(:id=>vu.id)%></td>
				<% end %>
				<% if can? :unfollow, vu %>
					<td><%= link_to 'Unfollow', relationship_path(:id=>vu.id), method: :delete %></td>
				<% elsif can? :follow, vu %>
					<td><%= link_to 'Follow', relationships_path(:id=>vu.id), method: :post %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>


