<div class="form-wrapper">
    <div class="logo"></div>
    <div class="sub-title">你的职场成长,我的事业使命</div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div><%= f.password_field :password, autofocus: true, class: "input-box", placeholder: "密码" ,autocomplete: "off" %></div>

      <div><%= f.password_field :password_confirmation, class: "input-box", placeholder: "密码确认", autocomplete: "off" %></div>

      <div><%= f.submit "重置密码", class: "btn-reset-password" %></div>
    <% end %>
</div>