<h1>Home</h1>

<%= form_tag({controller: "home", action: "search"}, method: "get") do %>
	<%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
	<% if can? :create, Question %>
		<%= link_to 'Ask', new_question_path, 'data-no-turbolink' => true %>
	<% else %>
		<% if current_user == nil %>
			<%= link_to 'Ask', new_user_registration_path %>
		<% elsif !current_user.activated? %>
			<%= link_to 'Ask', home_activate_path %>
		<% end %>
	<% end %>
<% end %>
<div>
	<%= link_to 'Home', root_path %> | 	<%= link_to 'Mentor', mentors_users_path %> | 
	<%= link_to 'Q&A', questions_path %> | 	<%= link_to 'Experience', articles_path %>
</div>
<div>
	<b>Recommend User</b>
	<table>
		<% @rec_mentors.each do |rm| %>
			<tr>
				<td><%= image_tag(rm.user.avatar_url) %></td>
				<td><%= rm.user.last_name %></td>&nbsp;<td><%= rm.user.first_name %></td>
				<td><%= rm.user.company %></td>
				<td><%= rm.user.position %></td>
			</tr>
		<% end %>
	</table>
</div>
<div style="float:left">
	<b>News Feed</b>
	<table>
		<% if current_user != nil %>
			<% current_user.following_users.each do |following| %>
				<% following.recent_activities.each do |ra| %>
					<% if ra.ask_question? %>
						<tr>
							<td>Asked Question</td>
							<td><%= ra.title %></td>
							<td></td>
							<td><%= ra.user.last_name %>&nbsp;<%= ra.user.first_name %></td>
							<td><%= ra.pdate_to_s %></td>
							<td><%= ra.theme %></td>
							<td><%= ra.answers.count %> answers</td>
						</tr>
					<% end %>
					<% if ra.answer_question? %>
						<tr>
							<td>Answered Question</td>
							<td><%= ra.title %></td>
							<td><%= ra.content %></td>
							<td><%= ra.user.last_name %>&nbsp;<%= ra.user.first_name %></td>
							<td><%= ra.pdate_to_s %></td>
							<td><%= ra.theme %></td>
							<td><%= ra.target.question.answers.count %> answers</td>
							<td><%= ra.target.comments.count %> comments</td>
							<td><%= ra.agree_score %></td>
						</tr>
					<% end %>
					<% if ra.comment_answer? %>
						<tr>
							<td>Comment Answer</td>
							<td><%= ra.title %></td>
							<td><%= ra.content %></td>
							<td><%= ra.user.last_name %>&nbsp;<%= ra.user.first_name %></td>
							<td><%= ra.pdate_to_s %></td>
							<td><%= ra.theme %></td>
							<td><%= ra.target.question.answers.count %> answers</td>
							<td><%= ra.target.comments.count %> comments</td>
							<td><%= ra.agree_score %></td>
						</tr>
					<% end %>
					<% if ra.answer_article? %>
						<tr>
							<td>Comment Article</td>
							<td><%= ra.title %></td>
							<td><%= ra.content %></td>
							<td><%= ra.user.last_name %>&nbsp;<%= ra.user.first_name %></td>
							<td><%= ra.pdate_to_s %></td>
							<td><%= ra.theme %></td>
							<td></td>
							<td><%= ra.target.comments.count %> comments</td>
							<td><%= ra.agree_score %></td>
						</tr>
					<% end %>
					<% if ra.agree_answer? %>
						<tr>
							<td>Agree Answer</td>
							<td><%= ra.title %></td>
							<td><%= ra.content %></td>
							<td><%= ra.user.last_name %>&nbsp;<%= ra.user.first_name %></td>
							<td><%= ra.pdate_to_s %></td>
							<td><%= ra.theme %></td>
							<td><%= ra.target.question.answers.count %> answers</td>
							<td><%= ra.target.comments.count %> comments</td>
							<td><%= ra.agree_score %></td>
						</tr>
					<% end %>
					<% if ra.agree_article? %>
						<tr>
							<td>Comment Article</td>
							<td><%= ra.title %></td>
							<td><%= ra.content %></td>
							<td><%= ra.user.last_name %>&nbsp;<%= ra.user.first_name %></td>
							<td><%= ra.pdate_to_s %></td>
							<td><%= ra.theme %></td>
							<td></td>
							<td><%= ra.target.comments.count %> comments</td>
							<td><%= ra.agree_score %></td>
						</tr>
					<% end %>
					<% if ra.accept_consult? %>
						<tr>
							<td>Accept Consult</td>
							<td><%= ra.title %></td>
							<td></td>
							<td><%= ra.user.last_name %>&nbsp;<%= ra.user.first_name %></td>
							<td><%= ra.pdate_to_s %></td>
							<td><%= ra.theme %></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					<% end %>
					<% if ra.consult? %>
						<tr>
							<td>Consult</td>
							<td><%= ra.title %></td>
							<td></td>
							<td><%= ra.user.last_name %>&nbsp;<%= ra.user.first_name %></td>
							<td><%= ra.pdate_to_s %></td>
							<td><%= ra.theme %></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		<% @news_feeds.order("id").each do |nf| %>
			<% if nf.feedable_type == "Question" %>
				<% q = Question.find(nf.feedable_id) %>
				<tr>
					<td><b>Q</b></td>
					<td><%= q.title %></td>
					<td><%= q.content %></td>
					<td><%= q.answers.first.content %></td>
					<td><%= q.user.last_name %>&nbsp;<%= q.user.first_name %></td>
				</tr>
			<% end %>
			<% if nf.feedable_type == "Article" %>
				<% a = Article.find(nf.feedable_id) %>
				<tr>
					<td><b>A</b></td>
					<td><%= a.title %></td>
					<td><%= a.content %></td>
					<td><%= a.user.last_name %>&nbsp;<%= a.user.first_name %></td>
				</tr>
			<% end %>
			<% if nf.feedable_type == "ConsultSubject" %>
				<% c = ConsultSubject.find(nf.feedable_id) %>
				<tr>
					<td><b>C</b></td>
					<td><%= c.title %></td>
					<td><%= c.content %></td>
					<td><%= c.mentor.last_name %>&nbsp;<%= c.mentor.first_name %></td>
					<td><%= c.apprentice.last_name %>&nbsp;<%= c.apprentice.first_name %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>
<div style="float:left">
	<b>Sub Menu</b><br>
	<% if current_user != nil %>
		<% if current_user.mentor? %>
			<%= link_to 'My Question', current_user %><br>
			<%= link_to 'My Consult', current_user %><br>
		<% else %>
			<%= link_to 'Question Which invits Me', current_user %><br>
			<%= link_to 'XX Consults Me', current_user %><br>
		<% end %>
			<%= link_to 'My Bookmark', home_my_bookmark_path %><br>
			<%= link_to 'My Draft', home_my_draft_path %>
	<% else %>
		<%= link_to 'My Question', new_user_registration_path %><br>
		<%= link_to 'My Consult', new_user_registration_path %><br>
		<%= link_to 'My Bookmark', new_user_registration_path %><br>
		<%= link_to 'My Draft', new_user_registration_path %>
	<% end %>
</div>
