<%= form_for(@user_msg_setting) do |f| %>
  <% if @user_msg_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_msg_setting.errors.count, "error") %> prohibited this user_msg_setting from being saved:</h2>

      <ul>
      <% @user_msg_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :followed_flag %><br>
    <%= f.check_box :followed_flag %>
  </div>
  <div class="field">
    <%= f.label :agreed_flag %><br>
    <%= f.check_box :agreed_flag %>
  </div>
  <div class="field">
    <%= f.label :commented_flag %><br>
    <%= f.check_box :commented_flag %>
  </div>
  <div class="field">
    <%= f.label :answer_flag %><br>
    <%= f.check_box :answer_flag %>
  </div>
  <div class="field">
    <%= f.label :pm_flag %><br>
    <%= f.check_box :pm_flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
