<p id="notice"><%= notice %></p>

<p>
  <strong>Followed flag:</strong>
  <%= @user_msg_setting.followed_flag %>
</p>

<p>
  <strong>Aggred flag:</strong>
  <%= @user_msg_setting.agreed_flag %>
</p>

<p>
  <strong>Commented flag:</strong>
  <%= @user_msg_setting.commented_flag %>
</p>

<p>
  <strong>Answer flag:</strong>
  <%= @user_msg_setting.answer_flag %>
</p>

<p>
  <strong>Pm flag:</strong>
  <%= @user_msg_setting.pm_flag %>
</p>

<% if can? :edit, @user_msg_setting %>
	<%= link_to 'Edit', edit_user_msg_setting_path(@user_msg_setting) %> |
<% end %>
<%= link_to 'Back', user_msg_settings_path %>
