<p>
  <strong>User:</strong>
  <%= answer.user.email %>
</p>
 
<p>
  <strong>Answer:</strong>
  <%= answer.content %>
</p>

<p>
  <strong>Agree:</strong>
  <%= answer.agree_score %>
</p>
<% if can? :edit, answer %>
	<%= link_to 'Edit', edit_answer_path(answer) %>
<% end %>
<% if can? :agree, answer %>
	<%= link_to 'Agree', agree_answer_path(answer), method: :post %>
<% end %>

<h2>Comments</h2>
<%= render answer.comments.order("id") %>

<% if can? :create, Comment %>
	<h2>Add an comment for this answer:</h2>
	<%= form_for([answer, answer.comments.build]) do |f| %>
		<p>
		  <%= f.label :content %><br>
		  <%= f.text_area :content %>
		</p>
		<p>
		  <%= f.submit %>
		</p>
	<% end %>
<% end %>
