<div class="user-setting warp-content">
  <ul class="component-tab_navs">
    <li class="component-tab_nav">
      <a href="/settings/account">帐号</a>
    </li>
    <li class="component-tab_nav">
      <a href="/settings/password">密码</a>
    </li>
    <li class="component-tab_nav active">
      <a href="/settings/notification">消息</a>
    </li>
    <li class="component-tab_nav">
      <a href="/settings/bind">社区绑定</a>
    </li>
  </ul>
  <section class="settings-item-wrapper">
    <p class="settings-item-intro">你可以在这里设置接收的消息类型。</p>
    <div class="settings-item settings-item-solidline clearfix">
      <div class="pull-left settings-item-left">
        <h3>有人关注了我</h3>
      </div>
      <div class="pull-left settings-item-right">
        <a data-role="checkbox" data-checked="<%= @user_msg_setting.followed_flag ? 'true':'false' %>"
           data-attr="followed_flag" class="icon-mail tooltipster" title="消息提醒" tabindex="0"></a>
      </div>
    </div>
    <div class="settings-item settings-item-solidline clearfix">
      <div class="pull-left settings-item-left">
        <h3>给我发了私信</h3>
      </div>
      <div class="pull-left settings-item-right">
        <a data-role="checkbox" data-checked="<%= @user_msg_setting.pm_flag ? 'true':'false' %>"
           data-attr="pm_flag" class="icon-mail tooltipster" title="消息提醒" tabindex="0"></a>
      </div>
    </div>
    <div class="settings-item settings-item-solidline clearfix">
      <div class="pull-left settings-item-left">
        <h3>赞同 / 感谢我的回答</h3>
      </div>
      <div class="pull-left settings-item-right">
        <a data-role="checkbox" data-checked="<%= @user_msg_setting.agreed_flag ? 'true':'false' %>"
           data-attr="agreed_flag" class="icon-mail tooltipster" title="消息提醒" tabindex="0"></a>
      </div>
    </div>
    <div class="settings-item settings-item-solidline clearfix">
      <div class="pull-left settings-item-left">
        <h3>@ / 评论我</h3>
      </div>
      <div class="pull-left settings-item-right">
        <a data-role="checkbox" data-checked="<%= @user_msg_setting.commented_flag ? 'true':'false' %>"
           data-attr="commented_flag" class="icon-mail tooltipster" title="消息提醒" tabindex="0"></a>
      </div>
    </div>
    <div class="settings-item settings-item-solidline clearfix">
      <div class="pull-left settings-item-left">
        <h3>关注的问题有了新回答</h3>
      </div>
      <div class="pull-left settings-item-right">
        <a data-role="checkbox" data-checked="<%= @user_msg_setting.answer_flag ? 'true':'false' %>"
           data-attr="answer_flag" class="icon-mail tooltipster" title="消息提醒" tabindex="0"></a>
      </div>
    </div>
  </section>
</div>
<% content_for :page_javascript do %>
    <%= javascript_include_tag "settings.notification" %>
<% end %>