<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Content</th>
      <th>Agree score</th>
      <th>Oppose score</th>
      <th>Anonymous flag</th>
      <th>User</th>
      <th>Edited at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.token_id %></td>
        <td><%= post.content %></td>
        <td><%= post.agree_score %></td>
        <td><%= post.oppose_score %></td>
        <td><%= post.anonymous_flag %></td>
        <td><%= post.user %></td>
        <td><%= post.edited_at %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
