<h1>Listing experience_articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Agree score</th>
      <th>Theme</th>
      <th>Industry</th>
      <th>Category</th>
      <th>Mark flag</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experience_articles.each do |experience_article| %>
      <tr>
        <td><%= experience_article.title %></td>
        <td><%= experience_article.content %></td>
        <td><%= experience_article.agree_score %></td>
        <td><%= experience_article.theme %></td>
        <td><%= experience_article.industry %></td>
        <td><%= experience_article.category %></td>
        <td><%= experience_article.mark_flag %></td>
        <td><%= experience_article.user.id %></td>
        <td><%= link_to 'Show', experience_article %></td>
        <td><%= link_to 'Edit', edit_experience_article_path(experience_article) %></td>
        <td><%= link_to 'Destroy', experience_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experience article', new_experience_article_path %>
