<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <title>职人圈－你的职场成长，我的事业使命</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv'%>
    <%= javascript_include_tag 'json2'%>
    <%= javascript_include_tag 'es5-shim'%>
  <![endif]-->
  <%= stylesheet_link_tag 'zrquan', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "partials/navigation" %>
    <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <%= render 'modals/modal_system' %>
    <%= render 'partials/poptips'%>
    <%= render 'partials/infoblock_comment'%>
    <%= render 'partials/profile_card'%>
    <% if current_user == nil %>
        <%= render 'modals/modal_sign_up_in' %>
        <%= render 'modals/modal_forget_password' %>
        <%= render 'modals/modal_activate' %>
    <% elsif current_user.confirmed? %>
        <%= render 'modals/modal_ask_question' %>
        <%= render 'modals/modal_create_theme' %>
    <% else %>
        <%= render 'modals/modal_activate' %>
    <% end %>
</body>
    <%= javascript_include_tag 'zrquan'%>
    <%= render 'users/base_attrs' %>
    <%= yield :page_javascript %>
</html>
